#appbar-sec{
    background-color: #252525 !important;
    color: rgb(255, 255, 255) !important;
}

.FrontPage{
    text-align: center !important;
    background-image: url("https://img.freepik.com/free-photo/laughing-pretty-young-woman-jumping-holding-shopping-bags_171337-11429.jpg?w=2000") !important;
    background-size:cover !important;
    height:100vh;
background-repeat:no-repeat;
  }

  @media only screen and (max-width: 500px) {
    .FrontPage {
      background-image: url('./mobilebg.jpg.jpeg') !important;
      color: white !important;
    background-size:cover !important;
    }
  }
  @media only screen and (min-width: 800px) {
    .FrontPage {
      background-image: url('https://i.etsystatic.com/34341254/r/il/8eab50/3776585295/il_fullxfull.3776585295_rawi.jpg') !important;
    background-size: cover !important;
    }
  }
.card-container {
    padding: 1rem;
    place-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(295px, 2rem));
    place-items: center;
    gap: 1rem;
  }
  .card-sec {
    text-align: center;
  
    background-color: whitesmoke;
  }
  #box-sec{
  }
  #btn-section{
    background-color: black !important;
    color: yellow !important;
  }
